.modal-wrapper{
    position: fixed;
    width: 100%;
    top:30%;
    z-index:1050;
}
.modal {
    margin: 0 auto;
    min-height:320px;
    max-width: 520px;
}
.modal-content{
    padding: 20px;
    position: relative;
}
.modal-content__sound, .modal-content__cardFace, .modal-content__mode{
    margin: 1em 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-content>h3{
    margin: 0.8em 0;
}
#cardsNumber, #theme, #cardFace, #sound, #language{
    display: block;
    margin: 0 1em;
    padding: 2px 5px;
    outline: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor:pointer;
}
#cardsNumber{
    margin: 0 auto;
}
.modal-content__cancel-button{
    width: 25px;
    position: absolute;
    top: 7%;
    right: 3%;
    border-radius: 50%;
    cursor: pointer;
}
.modal-content__button{
    margin: 3em 0 0;
    padding: 5px 12px;
    text-align: center;
    border: 2px solid #070b79;
    border-radius: 10px;
    background: #f0f8ff;
    font-size: 1.1em;
    outline:none;
    cursor:pointer;
}
.modal-content__button:hover, .modal-content__cancel-button:hover{
    background: #f0f8ff;
    transform: scale(1.1);
}
@media(max-width:600px){
    .modal{
        width: 450px;
    }
}