.flip-card {
    margin: 0.8em;
    width: 135px;
    height: 180px;
    box-shadow: 2px 2px 10px 3px aliceblue;
    cursor:pointer;
    perspective: 1000px; 
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border:none;
    -webkit-backface-visibility: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    border:1px grey solid;
    transform: rotateY(180deg);
  }
  .rotateToBack{
    transform: rotateY(180deg);
  }
  
  .rotateToFront{
    transform: rotateY(0deg);
  }
  .correct{
    border: 3px solid #35d535;
    pointer-events: none;
  }
  .wrong{
    border:3px solid #e61c38;
  }
  @media(max-width:600){
    .flip-card{
      width: 118px;
      height: 160px;
    }
  }