.modal-wrapper{
    position: fixed;
    width: 100%;
    top:30%;
    z-index:1050;
}
.modal {
    margin: 0 auto;
    min-height:220px;
    width: 520px;
    background: white;
}
.modal-content{
    padding: 20px;
    position: relative;
}
.modal-content>h3{
    margin: 0 0 1.5em 0;
}
#cardsNumber{
    display: block;
    margin: 0 auto;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor:pointer;
}
.modal-content__cancel-button{
    width: 25px;
    position: absolute;
    top: 7%;
    right: 3%;
    border-radius: 50%;
    cursor: pointer;
}
.modal-content__button{
    margin: 3em 0 0;
    padding: 5px 12px;
    text-align: center;
    border: 2px solid #070b79;
    border-radius: 10px;
    background: #f0f8ff;
    font-size: 1.1em;
    outline:none;
    cursor:pointer;
}
.modal-content__button:hover, .modal-content__cancel-button:hover{
    background: #f0f8ff;
    transform: scale(1.1);
}